* {
  /* border: 1px solid red; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* mobile view */
@media only screen and (max-width: 700px) {
}

/* desktop view */
@media only screen and (min-width: 700px) {
  /* top section */
  #nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2% 0;
    background-color: #00001a;
  }
  #nav a {
    font-size: 24px;
    margin-left: 5%;
  }
  #top h1 {
    font-weight: lighter;
    font-size: 70px;
    text-align: center;
    margin-top: 5%;
  }
  /* body{
    background: linear-gradient(#f70000, #f89200, #f8f501, #038f00,#0168f8, #a200f7);
  } */
  #pretty {
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    font-size: 10rem;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 0;
    min-height: calc(100vh - 16px);
    background: white;
    position: relative;
    background: #171717;
    color: #000;
  }

  #pretty:before {
    content: attr(data-text);
    position: absolute;
    background: linear-gradient(
      #f70000,
      #f89200,
      #f8f501,
      #038f00,
      #0168f8,
      #a200f7
    );
    -webkit-background-clip: text;
    color: transparent;
    background-size: 100% 90%;
    line-height: 0.9;
    clip-path: ellipse(120px 120px at -2.54% -9.25%);
    animation: swing 5s infinite;
    animation-direction: alternate;
  }

  @keyframes swing {
    0% {
      -webkit-clip-path: ellipse(120px 120px at -2.54% -9.25%);
      clip-path: ellipse(120px 120px at -2.54% -9.25%);
    }
    50% {
      -webkit-clip-path: ellipse(120px 120px at 49.66% 64.36%);
      clip-path: ellipse(120px 120px at 49.66% 64.36%);
    }
    100% {
      -webkit-clip-path: ellipse(120px 120px at 102.62% -1.61%);
      clip-path: ellipse(120px 120px at 102.62% -1.61%);
    }
  }

  /* about section */
  #about {
    margin-bottom: 1000px; /*this will be changed once we get some text in here*/
    padding-top: 100px;
  }

  /* experience section */
  #experience {
    margin-bottom: 200px;
    margin-top: 200px;
    padding-top: 100px;
  }
  #gallery {
    display: flex;
    text-align: center;
  }
  #experience img {
    width: 350px;
    height: auto;
  }
  /* skills section */
  #skills {
    margin-bottom: 500px;
  }
  .skill-progress {
    display: flex;
    margin-top: 2%;
    margin-right: 5%;
    text-align: right;
    justify-content: flex-end;
  }
  .topic {
    text-align: center;
    width: 10%;
    background-color: #036ffc;
  }
  .progress {
    /* margin: 50px auto; */
    /* padding: 2px; */
    width: 100%;
    max-width: 500px;
    border: 1px solid #05e35e;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 30px;
  }

  .progress .progress__bar {
    /* height: 100%;
    width: 90%;
    background-color: #05e35e; */
    height: 100%;
    width: 90%;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background: repeating-linear-gradient(
      135deg,
      #036ffc,
      #036ffc 20px,
      #1163cf 20px,
      #1163cf 40px
    );
  }

  .progress .progress__bar70 {
    /* height: 100%;
    width: 90%;
    background-color: #05e35e; */
    height: 100%;
    width: 70%;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background: repeating-linear-gradient(
      135deg,
      #036ffc,
      #036ffc 20px,
      #1163cf 20px,
      #1163cf 40px
    );
  }

  .progress .progress__bar20 {
    /* height: 100%;
    width: 90%;
    background-color: #05e35e; */
    height: 100%;
    width: 20%;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background: repeating-linear-gradient(
      135deg,
      #036ffc,
      #036ffc 20px,
      #1163cf 20px,
      #1163cf 40px
    );
  }
  /* testimonial section */
  #reviews {
    display: flex;
  }
  /* contact section */
  #contact {
    margin-bottom: 300px;
  }
  #contact-links {
    display: flex;
    margin-top: 50px;
  }
  i {
    margin: 0 20px;
  }
}
/*------------------------ outside media queries------------------------- */
body {
  background-color: #00001a;
  color: aliceblue;
}
a {
  text-decoration: none;
  color: aliceblue;
}
/* navbar and graphics */
#top {
}
/* about section */
#about {
}
/* experience section */

/* contact section */
#contact {
}
.fab {
  /*find a prettier color*/
  color: blueviolet;
}
