/* mobile view */
@media only screen and (max-width: 700px){

}

/* desktop view */
@media only screen and (min-width: 700px){

}
/* outside media queries */
body {

}
/* navbar and graphics */
#top {
}
/* about section */
#about {
}
/* experience section */
#experience img{
    width: 550px;
    height: 300px;
}
#experience{
    display: flex;justify-content: space-between;
}
/* contact section */
#contact {
}
